<div class="card mb-3">
  <div class="row">
    <div class="col-3">
      <img
        src="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/iphone-14-model-unselect-gallery-2-202303_GEO_EMEA?wid=5120&hei=2880&fmt=webp&qlt=70&.v=NjB6M3BqTGRudDZtakJrUG5tT2pHTGdzSmpObkZCM3MrNmJ5SkhESlNDZ1hBSXMwL2Jwdk9oTk42KzZHdTdNUXovdld4NkVCZ3JUZXJyZ1dUb1MwM0dKTG1lVWJJT2RXQWE0Mm9rU1V0V0IxZG1zQmhZY3FpN094bFJrYnF5eDR2azA1RzdtcFQ5a1dBaURTY0hJUEJBPT0=&traceId=1"
        alt=""
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-9">
      <div class="card-body">
        <h5 class="card-title">Iphone 14</h5>
        <p class="cart-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic illum
          laudantium minus voluptate ullam esse magnam doloribus quisquam
          doloremque vitae.
        </p>
      </div>
    </div>
  </div>
</div>
