.container {
  width: 450px;
}
#controls i {
  font-size: 30px;

  color: #ffd33d;

  margin: 20px;
}
#progress {
  margin-bottom: 20px;
}
#progress .times,
#controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#progress-bar {
  width: 100%;
}
#music-image {
  width: 100%;
}
